\sy\stem_ext/apex/com.android.vndk.v30.apex
modem.img
product/app/WebViewGoogle/WebViewGoogle.apk
product/priv-app/Gm\sCore/Gm\sCore.apk
product/priv-app/AiService\s/AiService\s.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/MotCamera3/MotCamera3.apk
